.box-style{
    background-color:rgba(0,0,0, .70);
    border-style:ridge;
    border-color: black;
    border-radius: 16px;
    border-width: 3px;
    margin: auto;
    width:50%;
    margin-top: 10%;
    padding: 2rem;
}

.box-style-2{
    background-color:rgba(0,0,0, .70);
    border-style:ridge;
    border-color: black;
    border-radius: 16px;
    border-width: 50%;
    margin: auto;
    width:50%;
    margin-top: 0%;
    padding: 1rem;
}

form {
    text-align: center;
}

body{
    background-color: rgba(0, 0, 0, 0.7);
    background:url("https://geekandsundry.com/wp-content/uploads/2020/03/Final-Fantasy-Image-1.jpg") no-repeat center fixed;
    background-size:cover;
}
h1{
	color: white;
	text-align: center;
}

h4{
	color: white;
	text-align: center;
}


